<header class="bg-gray-900 body-font fixed">
    <div class="w-full fixed z-50 backdrop-blur-sm bg-white/70 mx-auto flex flex-wrap p-5 flex-col md:flex-row items-left">
      <a class="flex title-font font-medium items-center mb-4 md:mb-0">
       <img src="../../favicon.ico" alt="">
        <span class="ml-3 text-xl text-black">First Angular App</span>
      </a>
      <nav class="mx-5 p-4 flex items-center justify-center">
        <div class="flex flex-wrap text-black items-center text-lg space-x-5">
          <a routerLink="/home" class="hover:text-white hover:scale-125 transition-transform duration-300">Home</a>
          <a routerLink="/about" class="hover:text-white hover:scale-125 transition-transform duration-300">About Us</a>
          <a routerLink="/contact" class="hover:text-white hover:scale-125 transition-transform duration-300">Contact Us</a>
        </div>
      </nav>
      
      
    </div>
  </header>

  